/*
    #02402E
    #07593B
    #3ABF15
    #63BF21
    #BF8F54

    font-family: 'Caveat', cursive;
    font-family: 'EB Garamond', serif;
    font-family: 'Marhey', cursive;
    font-family: 'Mynerve', cursive;
    font-family: 'Roboto', sans-serif;
*/

/*----------------------------*/
/*          Header            */
/*----------------------------*/

header{
    width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.884), rgba(0, 0, 0, 0.4)), url('../../images/header-capaG.jpg');
    background-size: cover;
    background-position: center center;
    border-top: 2px solid #065902;
    
    clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
    position: relative;
}

/*-------- TEXTOS CHAMADA -------------- */
header div.chamada{
    position: absolute;
    width: 100%;
    height: 300px;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

header div.chamada h1{
    color: #FFF;

    animation-name: HeaderH1-moverParaDireita;
    animation-duration: 2s;
    animation-timing-function: ease-out;

}

header div.chamada h2{
    color: #BF8F54;
    margin-bottom: 55px;

    animation-name: HeaderH1-moverParaEsquerda;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

div.chamada a{
    font-size: max(16px, 1.8vw);
    color: #FFF;
    text-decoration: none;
    padding: 20px 80px;
    border-radius: 50px;
    font-weight: 600;
    background: linear-gradient(rgba(7,140,49,55) 0%, rgba(6,89,2,35)50%, rgba(6,89,2,35)100%);

    display: inline-block;

    animation-name: HeaderA-moverParaCima;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
    transition: .3s ease-in-out;
    
}

div.chamada a:hover{
    opacity: .8;
    color: #acaaaa;
}

/*----------------------------*/
/*    SECTION POSTS           */
/*----------------------------*/

section.posts{
    max-width: 100%;
    padding: 10px;
    margin-top: 3rem;
    margin-bottom: 6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.posts h1{
    font-family: 'Roboto', sans-serif;
    color: #07593B;
    font-size: max(28px, 2.5vw);
    text-align: center;
    text-shadow: 2px 2px 6px #2b2a2a;
}

/*-------- POSTS -------------- */
section.posts div.posts-container{
    width: 100%;
    padding: 10px;
    margin: 40px 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

section.posts div.posts-container article{
    max-width: 1600px;
    margin: 30px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.posts div.posts-container article div.img-post{
    max-width: 400px;
}

section.posts div.posts-container article div.img-post img{
    max-width: 100%;
}

section.posts div.posts-container article h3{
    max-width: 400px;
    text-align: center;
    font-size: max(18px, 1.2vw);
    font-family: 'EB Garamond', serif;
    color: #07593B;
    text-shadow: 2px 2px 6px #2b2a2a;
    text-transform: capitalize;  
    margin-top: 10px;
}

section.posts div.posts-container article span{
    max-width: 400px;
    text-align: center;
    font-size: max(13px, .9vw);
    margin-top: 10px;
    text-shadow: 2px 2px 6px #2b2a2a;
}