
/*----------------------------*/
/*          NAVBAR            */
/*----------------------------*/

@media (max-width: 780px) {
    nav{   
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }

/*-------- LOGO -------------- */
    nav div.img-logo{
        max-width: 100px; 
    }
    
/*-------- MENU PRINCIPAL -------------- */
    nav ul.menu-principal{
        width: 80%;
        height: 40vh;
        flex-direction: column;
        background: linear-gradient(rgba(2, 64, 46, 1) 0%, rgba(2, 64, 46, 1) 45%, rgba(60, 179, 113, .9) 100%);
        margin-right: 0;
        padding-left: 1rem;
        padding-top: 1rem;

        position: absolute;
        top: 7.8rem;
        right: 0;
        z-index: 999;

        animation-name: mobile;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-fill-mode: backwards;
    }


    nav ul.menu-principal li{
        margin: 10px 0;
    }

    nav ul.menu-principal li a{
        font-size: 120%;
        color: #FFF;
    }

    /*-------- MENU HAMBURGUER -------------- */
    ul.menu-humburguer{
        display: flex;
    }

    nav ul.active-menu{
        display: flex;
    }

    nav ul.not-active-menu{
        display: none;
    }
}

/*----------------------------*/
/*          ANIMAÇÕES         */
/*----------------------------*/

@keyframes mobile {
    0%{
        opacity: 0;
        width: 0;
        /* height: 0vh; */
    }
    60%{
        opacity: .3;
        /* width: 50%;
        height: 70Vh; */
    }
    100%{
        opacity: 1;
        /* width: 100%; */
    }
}